<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-fit-behavior/iron-fit-behavior.html">
<link rel="import" href="../iron-scroll-target-behavior/iron-scroll-target-behavior.html">

<dom-module id="iron-scroll-fit">
  <script>

    Polymer({

      is: 'iron-scroll-fit',

      behaviors: [
        Polymer.IronFitBehavior,
        Polymer.IronScrollTargetBehavior
      ],

      _scrollHandler: function(e) {
        this.fit();
      }

    });

  </script>
</dom-module>
